.slider-container {
  .rc-slider-dot {
    width: 1px;
    height: 10px;
    border-radius: 0;
    border: 0;
  }

  .rc-slider-handle {
    opacity: 1;
    &:hover,
    &:active {
      box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2) !important;
    }
  }

  .rc-slider-mark-text {
    color: #ffffff6b !important;
  }
}
