:root {
  // Colors
  --black: #0c0c0c;
  --blackLight: #181818;
  --white: #ffffff;
  --orange: #eb3912;
  --gray: #8c8c8c;
}

[data-theme='dark'] {
  --primaryDark: #0d0f2b;
  --secondaryDark: #677b86;
  --green: #44b301;
  --yellow: #f3953d;
}