@use "variables";
@use "reset";
@use "general";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

  :root {
    --font-mono: "Roboto Mono", monospace;
    body {
      font-family: var(--font-mono);
    }
  }
}

body {
  background-color: var(--black);
  color: var(--white);
}
